---
layout: fixed
title: Events | Physics Club NIT Surat
navtitle: Events
extra_css:
    - /assets/css/events.css
extra_js:
    - https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js
    - https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js
    - /assets/js/events.js
---

<div id="background">
<div class="dotted">
</div>

<div id="main-container">
<div id="container" style="scroll-behavior: smooth;">


{% for event in site.data.events.events %}

<div class="event" id = "{{ event.poster }}evntidid">
    <div class="pointer" id = "{{ event.poster }}poinidid"></div>
    <div class="date" id = "{{ event.poster }}dateidid">{{ event.date }}</div>
    <div class="item zoomout"  id="{{ event.poster }}itemidid">
        <center>
            <img class="poster lozad" src="assets/posters/placeholder.jpg" data-src="/assets/posters/{{ event.poster }}.png" id = "{{ event.poster }}imagidid">
        </center>
        <div class="info" id = "{{ event.poster }}infoidid">
            <center id = "{{ events[i].poster }}cntridid">
                <div class="name" id = "{{ event.poster }}nameidid">{{ event.name | upcase }}</div>
                <div class="descr" id = "{{ event.poster }}descidid">{{ event.descr }} <br><br>
                    {% if event.reglink != " " %}
                    <a class = "link" href = "{{ event.reglink }}" id = "{{ event.poster }}reglidid">Register here!!</a><br><br>
                    {% endif %}
                    {% if event.reglink == " " %}
                    <div class="link" id = "{{ event.poster }}regcidid">Registations Closed</div><br>
                    {% endif %}
                    {% if event.youtube != " " %}
                    <a class = "link" href = "{{ events[i].youtube }}" id = "{{ event.poster }}youtidid">Youtube recording</a>
                    {% endif %}
                </div>
            </center>
        </div>
    </div>
</div>


{% endfor %}


</div>
</div>

<div class="dotted">
</div>

</div>