body{
  background: black;
}


.main-holder{
  height: 110vh;
  position: relative;
  left:-25vh;
  top: calc(60px + 2vh);
  z-index:99;
}

::-webkit-scrollbar {
  width: 0px;
  z-index: 9000;
}

.horizontalScroll {
  z-index:100;
  border-right:2px solid white;
  width: 95vh;
  height: 100vw;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -70vh, 0);
          transform: rotate(-90deg) translate3d(0, -70vh, 0);

}
.horizontalScroll > * {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(0, -70vh, 0);
          transform: rotate(90deg) translate3d(0, -70vh, 0);
}

.item {
  width: calc(80vh - 60px);
  height: calc(80vh - 60px);
  background: transparent;
  position: relative;
}
.item:first-child {
  margin-top: 50px;
}
.item{
  position:relative;
  right:-20vh;
  margin: 10px;
}

.item:last-child {
margin-bottom:100px;
}

.item .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  opacity: 1;
}

.item .dot{
  position:relative;
  top:-20px;
  height:20px;
  width: 20px;
  transform: rotate(45deg);
  background: white;
}

.item .info{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  line-height: 1.25;
  color: white;
}