@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|BioRhyme');

body{
	background-color: #f5f5f5;
	font-family: Montserrat, Open Sans;
	font-size: calc(3px + 1vw);	
}

#navbar{
	font-family: BioRhyme, Open Sans;
	font-size: calc(2px + 1vw);
	display: flex;
	justify-content: flex-end;
	width: 100vw;
	height: 50px;
	border: 2px solid black;
}

#navbar > a{
	position: absolute;
	left: 0;
	color: black;
	text-decoration: none;
}

#navbar > button{
	height: 40px;
	width: 70px;
	margin: 5px;
	background-color: black;
	color: white;
}
