@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|BioRhyme');

body{
	background-color: #f5f5f5;
	font-family: Montserrat, Open Sans;
	font-size: calc(6px + 2vw);	
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100vw;
	height: 100vh;
}

#menuholder{
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

#menuholder> p > a {
	font-size: calc(4px + 2vw);
	font-family: BioRhyme;
	letter-spacing: 4px;
	line-height: 1.5;
	color: white;
	text-decoration: none;
}

#menuholder> p> div{
	background-color: rgba(255, 255, 255, 0.7);
}