@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|BioRhyme');

.loading{
	z-index: 10000;
	height: 105vh;
	width: 105vw;
	position: fixed;
	top: -2.5vh;
	left: -2.5vw;
	background: black;
}

.loadholder{
	position: relative;
	top: 40%;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

::-webkit-scrollbar {
  width: 7px;
  z-index: 9000;
}

::-webkit-scrollbar-track {
	background: black;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body{
	background-color: white;
	font-family: Montserrat, Open Sans;
	font-size: calc(6px + 2vw);	
	overflow-X: hidden;
	overflow-y: hidden;
}

#fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.95);
	width: 100vw;
	height: 100vh;
	opacity: 0;
	display: block;
	transition: opacity 0.5s;
	z-index: 200;
	pointer-events: none;
}

.hover{
	box-shadow: none;
	transition: all;
}

.hover:hover{
	box-shadow: 4px 4px 6px black;
}

#menuholder{
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.mb{
	padding: 10px;
	width: 200px;
	font-size: 20px;
	font-family: Montserrat;
	letter-spacing: 5px;
	line-height: 1.5;
	color: black;
	border: 0px;
	background-color: transparent;
	font-weight: bold;
	transition: all 0.5s;
}

.mb:hover{
	background-color: #cfcfcf;
}

.close{
	font-size: 25px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 2px solid black;
	background: transparent;
	border: 2px solid white;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.close:hover{
	animation: rotatex 0.1s linear;
}

@keyframes rotatex{
	from{
		transform: rotate(0deg);
		transform-origin: center center;
	}
	to{
		transform: rotate(90deg);
		transform-origin: center center;
	}
}

#navbar{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: calc(50px + 2vh);
	width: 101vw;
	position: fixed;
	top: -7px;
	left: -7px;
	background-color: white;
	z-index: 100;
	transition: all 0.5s;
}

#logos{
	height: inherit;
	display: flex;
	justify-content: flex-start;
	background-color: transparent;
	position: relative;
	left: 15%;
	padding: 3%;
}

.pc{
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid white;
}

#title{
	font-family: BioRhyme;
	font-weight: bold;
	font-size: calc(10px + 4.5vw);
	white-space: nowrap;
	transform: scale(0.35);
	color: black;
	height: inherit;
	background-color: transparent;
	position: relative;
	top: -7%;
	pointer-events: none;
}

#hamcont{
	display: flex;
	justify-content: flex-end;
	height: inherit;
	background-color: transparent;
}

#hamcont> button{
	border: 0px;
	background-color: transparent;
	position: relative;
	right: 30%;
	top: 7%;
	cursor: pointer;
}

#ham{
	width: 35px;
	height: 35px;
	background-color: transparent;
	margin: 25%;
	display: inline-block;
}

[id*=bar]{
	width: 30px;
	height: 4px;
	margin: 4px;
	background-color: black;
}

#bar1{
	transform: translateX(0px);
	transition: all 0.1s;
}

#bar2{
	transform: translateX(0px);
	transition: all 0.5s;
}

#bar3{
	transform: translateX(0px);
	transition: all 1s;
}

#footer{
	width: inherit;
	height: 15vh;
	width: 104vw;
	background: black;
	border-top:  10px solid black;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	position: relative;
	left: -10px;    
	transform:scale(1.1);
}

#social{
	background-color: black;
	border-right: 2px solid gray;
	height: 12vh;
	padding:11px;
}

.fa{
	margin: 20px;
	text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

#footmenu{
	background-color: black;
	height: 12vh;
	padding:11px;
}

.footermenu{
	position:relative;
	left:-50px;
	top:10px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.65vw;
	letter-spacing: 2px;
	color: white;
	margin-left:20px;
}