#topcontent{
	position: relative;
	top: -30vh;
	left: -5px;
	height: 100vh;
	width: 101vw;
	background: url('/assets/images/bgblur.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.15);
}

#darken{
	background: rgba(0, 0, 0, 0.65);
	width: inherit;
	height: inherit;
}

.tit{
	font-size: calc(10px + 4.5vw);
	font-family: BioRhyme;
	transform-origin: center center;
	position: sticky;
	top: calc(5px + 0.2vh);
}

.tit>font{
	font-size: calc(5px + 1vw)!important;
}


.custom-shape-divider-bottom-1624772211 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624772211 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100%;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624772211 .shape-fill {
    fill: #FFFFFF;
}

#titleholder{
	font-family: BioRhyme;
	color: white;
	position: relative;
	top: 45vh;
	font-size: calc(5px + 1vw);
}

#content{
	width: inherit;
	background: white;
	margin-left: 10%;
	padding-left: 2%;
	padding-right: 10%;
	font-size: calc(6px + 1.25vw);	
	letter-spacing: 3px;
	line-height: 2;
	border-left: 3px solid grey;
}

#line{
	opacity: 0;
	transform: translateY(-300px);
	transition: all 1s;
}