.center{
	width: calc(100vw + 10px);
	height: calc(100vh + 10px);
	position: absolute;
	top: -10px;
	left: -10px;
	background: black;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}

.wrapper{
	width: 70vw;
	height: 70vh;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.member{
	width: 200px;
	height: 220px;
	overflow: hidden;
	background-size: 220px;
	transition: all 1s;
	border-radius: 15px;
}


.member:hover{
	background-size: 400px ;
	background-position: left center;
}

.overlay{
	width: 194px;
	height: 214px;
	position: absolute;
	backdrop-filter:  grayscale(100%);
	border-radius: 15px;
	border: 2px solid black;
	background: rgba(0, 0, 0, 0.5);
	top: 1px;
	left: 1px;
	opacity: 0;
	transition: all 1s;
}

.member:hover .overlay{
	opacity: 1;
}

.name{
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 25px;
	letter-spacing: 1px;
	color: white;
}