.center{
	width: calc(100vw + 10px);
	height: calc(100vh + 10px);
	position: absolute;
	top: -10px;
	left: -10px;
	background: black;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}

.wrapper{
	width: 70vw;
	height: 70vh;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.member{
	width: 200px;
	height: 220px;
	overflow: hidden;
	border-radius: 15px;
}

.image{
	background-image: url('/assets/images/ruffalo.jpg');
	width: 200px;
	height: 220px;
	border-radius: 15px;
	background-size: 220px;
	transition: all 0.7s;
	position: absolute;
	top: 0;
	left: 0;
}


.member:hover .image{
	background-size: 250px ;
	background-position: left center;
	filter: grayscale(100%) brightness(25%) ;
}


.overlay{
	width: 194px;
	height: 214px;
	position: absolute;
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	top: 2px;
	left: 2px;
	opacity: 0;
	transition: all 0.7s;
	overflow: hidden;
}

.member:hover .overlay{
	opacity: 1;
}

.name{
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 25px;
	letter-spacing: 1px;
	color: white;
	transform: translateY(30px);
	transition: all 0.5s;
}

.social{
	width: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.fa{
	width: 20px;
	margin-left: 2px;
	margin-bottom: 5px;
	height: 18px;
	padding-top: 3px;
	color: black;
	background: white;
	border-radius: 5px;
	transition: all 0.2s;
	transform: translateX(-30px);
}

.fa:nth-child(1){
	transition-delay: 0.05s;
}
.fa:nth-child(2){
	transition-delay: 0.15s;
}
.fa:nth-child(3){
	transition-delay: 0.25s;
}

.member:hover .fa{
	transform: translateX(0);
}
/*
.fa-twitter{
	transform: translateX(-30px);
}

.fa-instagram{
	transform: translateX(-30px);
	transition-delay: 0.2s;
}

.fa-facebook{
	transform: translateX(-30px);
	transition-delay: 0.1s;
}

.member:hover .fa-facebook{
	transform: translateX(0);
}


.member:hover .fa-instagram{
	transform: translateX(0);
}


.member:hover .fa-twitter{
	transform: translateX(0);
}*/

.member:hover .name{
	transform: translateY(0);
}



