<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/fixed.css">
</head>
<body>
    <div id="fullscreen">
        <div id="menuholder">
                <a class="close" href=# onclick=close()> &#10005;</a><br>
                <button href="location.href='/home.html';">HOME</button><br>
                <button href="location.href='/team.html';">TEAM</button><br>
                <button href="location.href='/events.html';">EVENTS</button><br>
                <button href="location.href='/gallery.html';">GALLERY</button><br>
                <button href="location.href='/contact.html';">CONTACT</button>
        </div>
    </div>

    {{ content }}

    <div id="footer">
        <ul>
            <li>Home</li>
            <li>Events</li>
            <li>Contact</li>
            <a href="">Physics Club <br> NIT Surat</a>
        </ul>
    </div>

</body>
<script type="text/javascript" src="/assets/js/fixed.js"></script>
</html>